<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head', {title: title}) %>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	

	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/home-banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ultimos productos</h2>
				<p>Ordenados del mas reciente al menos reciente</p>
			</div>


			<!-- Show the "ultimos" products -->
			<section class="bloque">
				<% for (let i = lista.length - 1; i >= lista.length - 4 ; i--) { %>
                       <div class="col-12 col-sm-6 col-lg-3">
						 <section class = "product-box">
							   <figure class="product-box_image">
								 <a href="/producto/detalle/id<%=lista[i].id %>" >
								    <img src="<%= lista[i].imgProducto %>" alt="<%= lista[i].nameProducto %>">
					
							   </figure>
							   <article class="product-box_data">
								<h2>
									<a href="/producto/detalle/id/<%=lista[i].id%>">
									<%= lista[i].nameProducto
									</a>
								</h2>

								<p> 
									<%= lista[i].descProducto %>
								</p>
								<h5>
									<a href="/profile/<%=lista[i].usuario.username%>"> 
										<%= lista[i].usuario.username %>
									</a>
								</h5>
								</article>
							</a>
						 </section>
					   </div>
			<%	} %>
		</div>
	</div>
	</section>
	

	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<section class="bloque"> 
				<% for(let i = 3; >= 0; i--) { %>
			
					<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<figure class="product-box_image">
							
								<img src="<%= lista2[i].imagen %>" alt="<%= lista2[i].nameProducto %>">
						
							
						</figure>
						<article class="product-box_data">
							<h2>
								<a href="producto/detalle/id/<%= lista2[i].id %>">
								<%= lista2[i].nameProducto %>
								</a>
							</h2>
							<p> 
								<%= lista2[i].descProducto %> 
							</p>
							<h5> 
								<a href="/profile/<%= lista[i].usuario.username %>">
								<%= lista2[i].usuario.username %>
								</a> 
							</h5>
						</article>
					</a>
				</section> 
			</div>
			<% } %>
			
				
			
			
	</div>
</div>
</section>

	<!-- /Más comentados -->


	<%- include('./partials/footer') %>
</body>	
</html>