<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head', {title: title}) %>
<body>
	<!-- Header -->
	<% if(locals.UserName){ %>
		<%- include('./partials/header') %>
		<% } else{ %>
			<%- include('./partials/header')%>
		<% } %>
	
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> Productos </h2> 
			<p class="product-detail-description">
				<a href="/producto/agregar">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= <%= producto.nombre_imagen %> alt="" class="product-detail-img">
					<strong><p class="product-detail-description"><%= producto.descripcion_producto %></p></strong>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (producto.comentarios && producto.comentarios.length > 0) { %>
							<% for( let index = 0; index < producto.comentarios.length; index++ ) { %> 
								<article>
									<img src= <%= producto.comentarios[index].imagen %> alt=''> 
									<strong><%= producto.comentarios[index].nombre %> </strong> <br></br>
									<%= producto.comentarios[index].comentario %>
								</article>
						<% } %>
					<% } else { %> 
					   <p>No hay comentarios</p>
					<% } %>

					</section>
					<% if(locals.UserName){ %>
						<form class="form" action="/productos/commentAdd/<%= producto.id%>" method="POST">
							<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>

					<% } else { %>
						<a href="/users/login"><p> Debes iniciar sesionpara poder agregar comentarios</p></a>

					<% } %>

					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>