<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <% if(locals.user != undefined) { %>
           <%- include("./partials/headerLogueado") %>
<% } else { %>
    <%- include("./partials/header") %>
<% } %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title"> Editar productos</h2>
        </div>

        <h2 class="col-12">
            <form action="/products/agregarUpdated/<%= id_producto %>" method="POST" >
                
                
                
<label for="nombre_imagen">Imagen:</label> 
        <input type="text" name="nombre_imagen" value="<%= productos.nombre_imagen %>" required>
        <br>
        <br>
        <label for="nombre_producto">Nombre del producto:</label>

        <input type="text" name="nombre_producto" value="<%= productos.nombre_producto %>" required>
        <br>
        <br>
        <label for="descripcion_producto">Descripcion:</label>

        <input type="text" name="descripcion_producto" value="<%= productos.descripcion_producto %>" required>
        <br>
        <br>

        <button type="submit">Editar producto</button>
    </form> <br>
 
    <%- include("./partials/footer") %>
</body>

</html>