<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<% if (locals.user != undefined){%>
		<%- include('./partials/headerLogueado')%>
		<%} else {%>
			<%- include('./partials/header')%> 
			<% } %>

			

	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Crea tu perfil</h2>
			</div>
			
			

			<form action="/users/registerStore" method="POST">

				<div>
					
					<label for = "email" class="form-label"> Email: </label>
					<input type="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>">  <br><br>

				</div>


				<div>
					
					<label for = "user" class="form-label"> Nombre Usuario: </label>
					<input class="form-input" type="text" name="usuario" value="<%= locals.old && old.user ? old.user : '' %>"> <br><br>

				</div>

			
				<div> 
				
					<label for="Pass" class="form-label"> Contraseña:</label>
					<input class="form-input" type="password" id="Pass" name="contra"  value="<%= locals.old && old.user ? old.user : '' %>"> <br><br>
				</div>

				<div> 
				
					<label for="date" class="form-label"> Fecha de nacimiento: </label>
					<input class="form-input" type="date" id="date" name="fecha" value="<%= locals.old && old.user ? old.user : '' %>">  <br><br>
				</div>

				<div> 
					
					<label for="dni" class="form-label"> Nro de documento: </label>
					<input class="form-input" type="number" id="dni" name="dni" value="<%= locals.old && old.user ? old.user : '' %>">  <br><br>

				</div>

				<div> 
					
					<label for="profilepic" class="form-label"> Foto de perfil: </label>
					<input class="form-input" type="text" id="profilepic" name="profilepic" value="<%= locals.old && old.user ? old.user : '' %>"> <br><br>
				</div>
				
				<button class=" form" type="submit">Enviar datos</button>


			</form> 
			

			
			<% if (locals.errors && errors.email){ %> 
				<p> Cuidado!: <%= errors.email.msg %> </p>  
			<% } %>  
			<% if (locals.errors && errors.contrasenia){ %>
				<p> Cuidado!: <%= errors.contrasenia.msg %> </p>  
			<% } %> 
			<% if (locals.errors && errors.user){ %>
				<p> Cuidado!: <%= errors.user.msg %> </p>  
			<% } %> 
		
		
		</div>
		

	</div>
			
	<%- include('./partials/footer') %>
	


</body>

</html>