<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<% if (locals.user != undefined){%>
		<%- include('./partials/headerLogueado')<%} 
		else {%>
			<%- include('./partials/header')%> 
			<% } %>

			

	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Crea tu perfil</h2>
			</div>
			
			

			<form action="/users/registerStore" method="POST">

				<div>
					
					<label for = "email"> Email: </label>
					<input type="email" name="mail" value="<%= locals.old && old.email ? old.email : '' %>">  <br><br>

				</div>


				<div>
					
					<label for = "user"> Nombre Usuario: </label>
					<input type="text" name="usuario" value="<%= locals.old && old.user ? old.user : '' %>"> <br><br>

				</div>

			
				<div> 
				
					<label for="Pass"> Contraseña:</label>
					<input type="password" id="Pass" name="contrasenia"  value=""> <br><br>
				</div>

				<div> 
				
					<label for="date"> Fecha de nacimiento: </label>
					<input type="date" id="date" name="fecha" value="">  <br><br>
				</div>

				<div> 
					
					<label for="dni"> Nro de documento: </label>
					<input type="number" id="dni" name="documento" value="">  <br><br>

				</div>

				<div> 
					
					<label for="profilepic"> Foto de perfil: </label>
					<input type="text" id="profilepic" name="fotoPerfil" value=""> <br><br>
				</div>
				
				<button type="submit">Enviar datos</button>


			</form> 
			

			<p> Cuidado!: </p> 
			<% if (locals.errors && errors.email){ %> 
				<p> <%= errors.email.msg %> </p>  
			<% } %>  
			<% if (locals.errors && errors.contrasenia){ %>
				<p> <%= errors.contrasenia.msg %> </p>  
			<% } %> 
			<% if (locals.errors && errors.user){ %>
				<p> <%= errors.user.msg %> </p>  
			<% } %> 
		
		
		</div>
		

	</div>
			
	<%- include('./partials/footer') %>
	


</body>

</html>