<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<% if (locals.user != undefined){%>
		<%- include('./partials/headerLogueado')<%} 
		else {%>
			<%- include('./partials/header')%> 
			<% } %>

			<% if (locals.user != undefined){%>
		<%- include('./partials/headerLogueado')<%} 
		else {%>
			<%- include('./partials/header')%> 
			<% } %>
	
			

	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Edita tu perfil</h2>
			</div>
			
			

			<form action="/users/registerStore" method="POST">

				<div>
					
					<label for = "email"> Email: </label>
					<input type="email" name="mail" value="">  <br><br>

				</div>


				<div>
					
					<label for = "user"> Nombre Usuario: </label>
					<input type="text" name="user" value=""> <br><br>

				</div>

			
				<div> 
				
					<label for="Pass"> Contraseña:</label>
					<input type="password" id="Pass" name="contraseña"  value=""> <br><br>
				</div>

				<div> 
				
					<label for="date"> Fecha de nacimiento: </label>
					<input type="date" id="date" name="fecha" value="">  <br><br>
				</div>

				<div> 
					
					<label for="dni"> Nro de documento: </label>
					<input type="number" id="dni" name="documento" value="">  <br><br>

				</div>

				<div> 
					
					<label for="profilepic"> Foto de perfil: </label>
					<input type="text" id="profilepic" name="fotoPerfil" value=""> <br><br>
				</div>
				
				<button type="submit">Enviar datos</button>


			</form> 
		
		
		</div>
		

	</div>
			
	<%- include('./partials/footer') %>
	


</body>

</html>