<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<% if(locals.user !=null) { %>
		<%- include('./partials/headerLogueado') %>
<% } else { %> 
	<%- include("./partials/header.ejs") %>
<%  } %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda:</h2>
				<p>Ordenados del mas al menos reciente</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			<section class="bloque">
				<% if (productos != undefined && productos.length > 0) { %>
					<% for(let i = 0 ; i < productos.length ; i++) { %>
			
						<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<figure class="product-box_image">
								
									<img src="<%= productos[i].nombre_imagen %>" alt="<%= productos[i].nombre_producto %>">
							
								
							</figure>
							<article class="product-box_data">
								<h2>
									<a href="producto/productos/<%= productos[i].id_producto %>">
									<%= productos[i].nombre_producto %>
									</a>
								</h2>
								<p> 
									<%= productos[i].descripcion_producto %> 
								</p>
								<h5> 
									<a href="users/profile/<%= productos[i].user_id %>">
									<%= productos[i].usuario.usuario %>
									</a> 
								</h5>
							</article>
						</a>
					</section> 
				</div>
				<% } %>
			    <% } else { %>
				     <p class="error"> No hay resultados para su criterio de búsqueda </p>
				<% } %>
				</div>
			</div>
			</section>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>