<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<% if(locals.user !=null) { %>
		<%- include('./partials/headerLogueado') %>
<% } else { %> 
	<%- include("./partials/header.ejs") %>
<%  } %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda:</h2>
				<p>Ordenados del mas al menos reciente</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			<section class="bloque">
				<% if (lista != undefined && lista.length > 0) { %>
				<% for (let i = lista.length - 1; i <= 0; i--) { %>
				        <div class="col-12 col-lg-3">
						<section class = "product-box">
							<figure class="product-box_image">
								<img src="<%= lista[i].imagenes %>" alt="<%= lista[i].nombreproducto %>">
							</figure>
							<article class="product-box_data">
								<h2>
									<a href="/product/detalle/id/<%=lista[i].id%>">
									<%= lista[i].nombreproducto %>
								   </a>
								</h2>
								<p>
									<%= lista[i].descripcionproducto %>
								</p>
								<h5>
									<a href="/profile/<%=lista[i].usuario.username%>">
									<%= lista[i].usuario.username %>
								</a>
								</h5>
							</article>
		
					</section>
				</div>
			    <% } %>
			    <% } else { %>
				     <p class="error"> <%= errors.message %> </p>
				<% } %>
				</div>
			</div>
			</section>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>